@import '~antd/dist/antd.less';

/* 
Página com todas as variáveis
https://github.com/ant-design/ant-design/blob/4.x-stable/components/style/themes/default.less
 */

@primary-color: #337ab7;
@layout-header-background: #337ab7;
@layout-header-color: white;
@layout-footer-background: #337ab7;
@layout-header-height: 64px;
@layout-sider-background: #ffffff;
@layout-trigger-background: #274060;
@layout-trigger-height: 120px;
@layout-body-background: #f7f5f3;
@border-color-base: rgba(39, 64, 96, 0.15);
@border-color-split: rgba(39, 64, 96, 0.1);
@table-header-bg: #e0e4e8;
@text-color: #274060;
@heading-color: #274060;
@input-bg: #ffffff;
@select-background: @input-bg;
@select-dropdown-bg: @input-bg;
@picker-bg: @input-bg;
@picker-bg: @input-bg;
@calendar-bg: @input-bg;
@progress-remaining-color: rgba(39, 64, 96, 0.2);
@font-size-base: 16px;
@height-base: 36px;
@height-lg: 34px;
@height-sm: 34px;

#root > section.ant-layout {
  min-height: 100vh;
  margin: auto;
}

.ant-btn-primary:hover {
  background-color: @text-color;
}

.sigCanvas {
  width: 100%;
  height: 100%;
}

.loginPanel {
  //border: 1px solid;
  background-color: white;
  display: flex;
  min-height: 400px;
  width: 300px;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 50%;
  left: 50%;
  border-radius: 2px;
  transform: translate(-50%, -50%);
  padding: 15px;
}

.ant-layout-header {
  position: fixed;
  width: 100%;
  left: 0;
  right: 0;
  z-index: 10;
  -webkit-box-shadow: 0 0 20px -10px rgba(@text-color, 0.5);
  -moz-box-shadow: 0 0 20px -10px rgba(@text-color, 0.5);
  box-shadow: 0 0 20px -10px rgba(@text-color, 0.5);
}

.ant-layout-footer {
  width: 100%;
  height: 64px;
  text-align: center;
  align-content: center;
  bottom: 0;
  left: 0;
  right: 0;
  position: sticky;
}

.ant-layout-sider {
  background-color: #ffffff;
  -webkit-box-shadow: 3px 0 6px rgba(0, 0, 0, 0.3) !important;
  -moz-box-shadow: 3px 0 6px rgba(0, 0, 0, 0.3) !important;
  box-shadow: 3px 0 6px rgba(0, 0, 0, 0.3) !important;
}

.ant-layout-sider-trigger-custom {
  height: 64px;
  width: 80px;
  left: 0;
  top: 0;
  position: fixed;
  z-index: 10;
  padding-top: 15px;
  padding-left: 25px;
  background-color: #286090;
}

.ant-table-title {
  background-color: #607d8b;
}

.anticon anticon-menu-fold trigger {
  height: 100%;
}

.ant-card-body {
  overflow-wrap: break-word;
}

.ant-card-head-title {
  white-space: break-spaces;
}

.ant-checkbox-group-item {
  display: flex;
  flex-direction: row;
}

.ant-form-item-has-error {
  border: 1px solid !important;
  border-color: red !important;
  background-color: #fceddf !important;
}

.anticon.ant-input-clear-icon-hidden {
  visibility: visible !important;
}

.ant-select-item-option-content {
  white-space: break-spaces;
  word-break: break-word;
}

// Limita a aparição do botão de instalação apenas em browsers com esta capacidade
.install-app-btn-container {
  display: none;
}

.ant-steps-horizontal {
  overflow-y: hidden;
  overflow-x: scroll;
}

.steps-content {
  min-height: 200px;
  margin-top: 16px;
  padding-top: 80px;
  text-align: center;
  background-color: #fafafa;
  border: 1px dashed #e9e9e9;
  border-radius: 2px;
}

.steps-action {
  margin-top: 24px;
}

.site-layout {
  overflow: initial;
  overflow-x: hidden;
}

@media screen and (max-width: 991px) {
  .loginPanel {
    max-width: 350px;
  }
}

@media print {
  body {
    overscroll-behavior: hidden;
    font-size: 5px;
  }

  @page {
    margin: auto;
  }

  .ant-descriptions-item-content,
  .ant-descriptions-item-label {
    min-height: 0 !important;
    line-height: 80%;
  }

  span {
    font-size: 11px;
    min-height: 0 !important;
  }

  h1.ant-typography {
    font-size: 28px;
  }
  h2.ant-typography {
    font-size: 24px;
  }
  h3.ant-typography {
    font-size: 18.72px;
  }
  h4.ant-typography {
    font-size: 16px;
  }
  h5.ant-typography {
    font-size: 14px;
  }

  .ant-card-small,
  .ant-card-head {
    min-height: 0 !important;
  }

  .ant-card-head-title {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
  }

  .cabecalhoGovernoMT {
    font-size: 14px;
  }

  .ant-layout,
  .ant-layout-content,
  .ant-layout-has-sider,
  .site-layout {
    overflow: hidden;
  }
  .ant-layout-footer {
    height: 0;
    visibility: hidden;
  }
  .ant-layout-header,
  .ant-layout-footer,
  .ant-layout-sider,
  .ant-layout-sider-dark,
  .ant-layout-sider-trigger-custom,
  .printButton,
  .sider-wrapper {
    display: none !important;
  }
  .newPage {
    page-break-inside: avoid;
    display: block;
  }

  .ant-layout {
    background-color: #ffffff;
  }
  .site-layout {
    margin: 0 !important;
  }
}
